{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>PSUSphere</title>


    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/ready.css' %}">
    <link rel="stylesheet" href="{% static 'css/demo.css' %}">
</head>

<body>

<div class="wrapper">


    <div class="sidebar">
        <div class="sidebar-wrapper">
            <div class="sidebar-content">
                <ul class="nav">

                    <li class="nav-item">
                        <a href="{% url 'home' %}">
                            <i class="la la-dashboard"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'organization-list' %}">
                            <i class="la la-building"></i>
                            <p>Organizations</p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'program-list' %}">
                            <i class="la la-book"></i>
                            <p>Programs</p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'student-list' %}">
                            <i class="la la-user"></i>
                            <p>Students</p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{% url 'orgmember-list' %}">
                            <i class="la la-users"></i>
                            <p>Members</p>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>


    <div class="main-panel">

    
        <div class="main-header">
            <div class="logo-header">
                <a href="#" class="logo">PSUSphere</a>
            </div>
        </div>

       
        <div class="content">
            <div class="container-fluid">
                {% block content %}
                {% endblock %}
            </div>
        </div>

    </div>

</div>


<script src="{% static 'js/core/jquery.3.2.1.min.js' %}"></script>
<script src="{% static 'js/core/bootstrap.min.js' %}"></script>
<script src="{% static 'js/ready.min.js' %}"></script>

</body>
</html>